extends ../base
block title
	| unsuccess-payment
block main
	section.unsuccess-message
		.container
			.title-wrap
				h1 ЧТО-ТО ПОШЛО НЕ ТАК!&#160
					span.red-color ВАША ОПЛАТА НЕ БЫЛА ПРИНЯТА!
			.message-body

				p  Если у Вас возникли трудности с оплатой, пожалуйста,обращайтесь в онлайн чат или на почту&#160
					span mail@mail.ru
			.button
				a.proxi-btn Вернуться на главную страницу


