extends ../base
block title
	| enter-to-personal
block main
	section.enter-section
		.container
			.title-wrap
				p.title__h2 ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ
			.es-form
				form
					.input_wrap
						label Введите логин или e-mail:
						input(type='text' name='name')
					.input_wrap
						label Введите пароль:
						input(type='password')
					.es-form__link-reg
						a(href='#') Забыли пароль?
						a(href='#' class="link-reg-right") Регистрация
					input(type='submit' value='Войти' class='proxi-btn')











