extends ../base
block title
	| 404
block main
	section.main-404
		.container
			.page-404
				.img-404
					img(src=require("../../img/404.png"))
				p СТРАНИЦА&#160
					span НЕ НАЙДЕНА
				a(href='#' class='proxi-btn') Вернуться на главную страницу

