extends ../base
block title
	| recovery-password
block main
	section.main-recovery
		.container
			p.title__h2
				| ВОССТАНОВЛЕНИЕ ПАРОЛЯ
			.mr-form
				form
					.input_wrap
						label Введите  e-mail:
						input(type='text' name='name')
						.mr-wrap
							input(type='submit' value='Восстановить' class='proxi-btn')