extends ../base
block title
	| success-payment
block main
	section.success-message
		.container
			.title-wrap
				h1 СПАСИБО!&#160
					span.green-color ВАША ОПЛАТА ПРИНЯТА!
			.message-body
				h4 Список IP адресов в ближайшее время вышлем Вам на почту.
				p По всем животрепещущим вопросам обращайтесь, пожалуйста, в онлайн чат или на почту&#160
					span mail@mail.ru
			.button
				a.proxi-btn Вернуться на главную страницу



