extends ../base
block title
	| contacts
block main
	section.main-contacts
		.container
			.title-wrap
				p.title__h2 ЕСТЬ ВОПРОСЫ?&#160
					span НАПИШИТЕ НАМ!
			.row
				.form-dir.col-lg-7.col-md-12.col-sm-12.col-xs-12
					form
						input(type='text' name='name' placeholder='Ваше имя')
						input(type='text' name='email' placeholder='E-mail')
						textarea(placeholder='Сообщение')
						//.captcha
						input(type='submit' class='proxi-btn' value='Отправить сообщение')
				.contacts.col-lg-5.col-md-12.col-sm-12.col-xs-12
					.contacts-curr
						img(src=require("../../img/icq-red-mini.png"))
						span isq 658-878-569
					.contacts-curr
						i.fa.fa-skype
						span YouProxy
					.contacts-curr.magrin-bot
						i.fa.fa-envelope
						span support@youproxy.ru
					.contacts-title
						| Мы в соц. сетях
					.contacts-curr
						i.fa.fa-twitter
						span
							a(href="https://twitter.com/you_proxy") Twitter
					.contacts-curr
						i.fa.fa-vk
						span
							a(href="#") Vkontakte
					.contacts-curr
						i.fa.fa-instagram
						span
							a(href="https://www.instagram.com/youproxy/") Instagram
					.contacts-curr
						i.fa.fa-facebook-square
						span
							a(href="https://www.facebook.com/youproxytop") Facebook
					//.contacts-list
					//	p При обращении указывать:
					//	ul
					//		li - цель использования прокси,используемый софт, проекты;
					//		li - желаемый способ авторизации(логин/пароль или по IP);
					//		li - сети исключения для вашего проекта (если имеются).
