extends ../base
block title
	| proxi-by-country
block main
	section.proxi-current-coutry
		.container
			.title-wrap
				h1 КУПИТЬ РОССИЙСКИЕ ПРОКСИ
			.proxi-by-the-piece
				span.descr ПРОКСИ&#160
					span ПОШТУЧНО
			.row.form_pbythe_p
				form.col-md-12
					.country.col-md-6
					.chosse-the-goal.col-md-6
						.title
							h4 Выберите цель использования:
						.main-input
							.main-level
								span Цель использования
								i(class="fa fa-angle-down fa-hov")
								ul.first-level
									li
										.first-level-content
											span.goal Цель использования1
											i(class="fa fa-angle-down ")
											ul.second-level-list
												li(value = '11') Цель использования1-1
												li(value = '12') Цель использования1-2
												li(value = '13') Цель использования1-3
												li(value = '14') Цель использования1-4
									li
										.first-level-content
											span.goal Цель использования2
											i(class="fa fa-angle-down ")
											ul.second-level-list
												li(value = '21' ) Цель использования2-1
												li(value = '22') Цель использования2-2
												li(value = '23') Цель использования2-3
												li(value = '24') Цель использования2-4
									li
										.first-level-content
											span.goal Цель использования3
											i(class="fa fa-angle-down")
											ul.second-level-list
												li(value = '31' ) Цель использования3-1
												li(value = '32' ) Цель использования3-2
												li(value = '33' ) Цель использования3-3
												li(value = '34' ) Цель использования3-4
									li
										.first-level-content
											span.goal Цель использования4
											i(class="fa fa-angle-down")
											ul.second-level-list
												li(value = '41' ) Цель использования4-1
												li(value = '42' ) Цель использования4-2
												li(value = '43' ) Цель использования4-3
												li(value = '44' ) Цель использования4-4
			br
			a(href='#').proxi-btn.one Купить
			.pacet-proxi
				span.descr ПАКЕТНЫЕ&#160
					span ПРОКСИ
			.pcc-menu
				.goals
					span Цели
				.amount-price
					span Количество/Стоимость
				.term.select
					.slct_arrow
						i.fa.fa-angle-down
					a(href="#" class="slct") Срок: 2нед.
					ul.drop.termin
						li Срок: 2нед.
						li Срок: 3нед.
						li Срок: 4нед.
					input(type="hidden" name="services")
				.currency-menu
					ul
						li.cur-act UAH
						li USD
						li EUR
						li RUB
			.pcc-table.col-xs-12
				.select.choose-goal
					.slct_arrow
						i.fa.fa-angle-down
					a(href="#" class="slct") Цель использования
					ul.drop.cg_drop
						li В Контакте
						li Одноклассники
						li Facebook
						li Цель использования
					input(type="hidden" name="services")
				table.main_table
					tr.active_tr
						td(align='left').cur-goal Цель использования
						td(align='left').proxi-pcc
							span.pcc-pieces 10шт
							span.pcc-price
								span.price 420
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 20шт
							span.pcc-price
								span.price 820
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 50шт
							span.pcc-price
								span.price 1910
								| &#160
								span.cur-curency руб.
						td(align='left' valign='top').proxi-pcc
							span.pcc-pieces 500шт
							span.pcc-price
								span.price 13500
								| &#160
								span.cur-curency руб.
						td(align='right').order
							a(href='#').proxi-btn Заказать
					tr
						td(align='left').cur-goal.rouge В Контакте
						td(align='left').proxi-pcc
							span.pcc-pieces 10шт
							span.pcc-price
								span.price 430
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 20шт
							span.pcc-price
								span.price 820
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 50шт
							span.pcc-price
								span.price 1910
								| &#160
								span.cur-curency руб.
						td(align='left' valign='top').proxi-pcc
							span.pcc-pieces 500шт
							span.pcc-price
								span.price 13500
								| &#160
								span.cur-curency руб.
						td(align='right').order
							a(href='#').proxi-btn Заказать
					tr
						td(align='left').cur-goal.rouge Одноклассники
						td(align='left').proxi-pcc
							span.pcc-pieces 10шт
							span.pcc-price
								span.price 440
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 20шт
							span.pcc-price
								span.price 820
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 50шт
							span.pcc-price
								span.price 1910
								| &#160
								span.cur-curency руб.
						td(align='left' valign='top').proxi-pcc
							span.pcc-pieces 500шт
							span.pcc-price
								span.price 13500
								| &#160
								span.cur-curency руб.
						td(align='right').order
							a(href='#').proxi-btn Заказать
					tr
						td(align='left').cur-goal.rouge Facebook
						td(align='left').proxi-pcc
							span.pcc-pieces 10шт
							span.pcc-price
								span.price 450
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 20шт
							span.pcc-price
								span.price 820
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 50шт
							span.pcc-price
								span.price 1910
								| &#160
								span.cur-curency руб.
						td(align='left' valign='top').proxi-pcc
							span.pcc-pieces 500шт
							span.pcc-price
								span.price 13500
								| &#160
								span.cur-curency руб.
						td(align='right').order
							a(href='#').proxi-btn Заказать
					tr.separately
						td(align='left').cur-goal
							.separately-goal Цель использования
						td(align='left').proxi-pcc
							span.pcc-pieces 10шт
							span.pcc-price
								span.price 460
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 20шт
							span.pcc-price
								span.price 820
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 50шт
							span.pcc-price
								span.price 1910
								| &#160
								span.cur-curency руб.
						td(align='left' valign='top').proxi-pcc
							span.pcc-pieces 500шт
							span.pcc-price
								span.price 13500
								| &#160
								span.cur-curency руб.
						td(align='right').order
							a(href='#').proxi-btn Заказать
					tr.separately
						td(align='left').cur-goal
							.separately-goal Цель использования
						td(align='left').proxi-pcc
							span.pcc-pieces 10шт
							span.pcc-price
								span.price 470
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 20шт
							span.pcc-price
								span.price 820
								| &#160
								span.cur-curency руб.
						td(align='left').proxi-pcc
							span.pcc-pieces 50шт
							span.pcc-price
								span.price 1910
								| &#160
								span.cur-curency руб.
						td(align='left' valign='top').proxi-pcc
							span.pcc-pieces 500шт
							span.pcc-price
								span.price 13500
								| &#160
								span.cur-curency руб.
						td(align='right').order
							a(href='#').proxi-btn Заказать
				.btn_for_sm_dev
					a(href='#').proxi-btn Заказать
			.pcc-suppopt
				.pcc-suppopt-item
					.suppopt-item-black-part Http(s)/Socks5
				.pcc-suppopt-item
					.suppopt-item-black-part Поддержка 24/7/365
				.pcc-suppopt-item
					.suppopt-item-black-part 173+ соцсетей
			.pcc-raiting-buttons
				.pcc-raiting-buttons-item
					a(href='#').descr-rait
						.descr-title Рейтинг:
							span proxy-rating.info
						.descr-stars
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
				.pcc-raiting-buttons-item
					a(href='#')
						.descr-title Рейтинг:
							span proxy.info
						.descr-stars
							span 4,86
			.pcc-share-like
				span Поделитесь лайком:
				.iframe-place
	section.reliable-proxi
		.container
			.title-wrap
				p.title__h2 РОССИЙСКИЕ ПРОКСИ ДЛЯ СОЦИАЛЬНЫХ СЕТЕЙ
			.reliable-proxi-description
				article
					p Комфортная работа в глобальной сети интернет невозможна без уверенности в вашей полной безопасности. Мы понимаем, насколько важно для вас иметь возможность оставаться анонимным в сети, получить доступ к зарубежным интернет-ресурсам, просматривать, загружать и скачивать контент без каких-либо ограничений. Именно поэтому с помощью нашего удобного онлайн-сервиса вы можете купить качественные приватные прокси по невероятно доступной цене.
					p Наши прокси работаю с любыми сайтами и программами, поддерживают протоколы HTTP / HTTPs, Socks4 / Socks5, возможна авторизация как по логин - паролю, так и по вашему ip адресу (если он статический). Покупая приват прокси на youproxy вы получаете быстрый, стабильный, анонимный интрумент для работы в интернете.
					p Прокси для приватной работы в интеренете вы можете купить на удобный для вас срок: неделю, месяц или более длительный срок – ваша работа во всемирной паутине будет стабильно быстрой, комфортной и безопасной. Стоит помнить, чем длинее срок аренды, тем дешевле прокси. Еще один способ получить дешевые прокси, это покупать пакетные прокси по 10, 20, 50, 100 штук. Использовать наши прокси вы можете любое количество времени: от недели до года и более. При этом их качество будет оставаться неизменно высоким, а при аренде адресов оптом и на долгий срок мы с удовольствием предоставим ощутимые скидки.
					p Youproxy.ru предлагает вам купить высококачественные приватные прокси с отменными скоростными показателями и бесперебойностью работы. Наши специалисты круглые сутки предоставляют техническую поддержку. У нас можно приобрести действительно приватные прокси, используя которые можно быть спокойным за свою безопасность. Мы предоставляем лишь качественные приват прокси адреса, которые являются гарантией вашей автономности при пребывании в просторах интернета. Наши специалисты понимают, как важно для пользователей иметь надежные и в то же время недорогие прокси, поэтому мы предлагаем лишь инновационные разработки с широчайшим разбросом по виртуальным просторам.
					p В нашей компании вы можете приобрести прокси-серверы, способные решать любые задачи: начиная от входа в заблокированные онлайн-игры и заканчивая работой со сложными программами для интернет-маркетинга. Грамотные специалисты сервиса всегда готовы подобрать индивидуальные серверы для ваших целей и предоставить доступ к определенным сетям и подсетям, или же отфильтровать адреса в соответствии с вашими требованиями. Вам достаточно лишь предоставить список нежелательных или предпочтительных сетей.
			.title-wrap
				h2 ОСНОВНОЕ НАЗНАЧЕНИЕ ПРОКСИ-СЕРВЕРОВ:
			p.the-most-in-demand Наиболее востребованными и основными назначениями прокси-серверов являются решения следующих задач:
			ul
				each v in ['- продвижения аккаунтов в социальных сетях;','- парсинга поисковых систем;','- регистрации в многопользовательских онлайн-играх;','- серфинга;','- работы букмекерских контор;','- анонимизации доступа к различным ресурсам;','- обхода различных видов блокировки;','- защиты ПК от вирусов и взлома;','- ускорения соединения при работе с иностранными ресурсами.']
					li= v
			p При оформлении заказа на покупку прокси вам будет необходимо указать одну из перечисленных целей – это поможет нам предоставить вам максимально качественные прокси. Если вы не найдете в списке необходимого пункта или столкнетесь с какими-либо проблемами – обратитесь за помощью к онлайн-консультанту, и мы оперативно подберем оптимальное решение.







