extends ../base
block title
	| FAQ
block main
	section.common-questions
		.container
			.title-wrap
				p.title__h2 ОБЩИЕ&#160
					span ВОПРОСЫ
			.common-questions-accordion
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
				.cq-accordion-item
					.cqa-item-title
						span.text Сколько занимает выдача прокси после оплаты?
						i.fa.fa-angle-down
					.cqa-item-body
						p Если, на момент выдачи IP адресов, обнаружен один или несколько адресов непригодных к использованию в течении суток с момента получения (см. Условия) - мы делаем замену на работоспособные IP адреса. Если же, возникли проблемы непосредственно в момент эксплуатации(кроме невозможности подключения к прокси) - IP адрес(а) не подлежат замене.
			.have-a-question
				.title-wrap
					p.title__h2 ОСТАЛИСЬ ВОПРОСЫ?&#160
						span ПИШИТЕ НАМ!
				.connects
					.connects-item
						img(src=require("../../img/icq-red.png"))
						span isq 658-878-569
					.connects-item.middle-class
						img(src=require("../../img/skype-red.png"))
						span YouProxy
					.connects-item
						img(src=require("../../img/email-icon-red.png"))
						span support@youproxy.ru
				.no-answer
					p Если вы не нашли ответ на интересующий вопрос, пожалуйста, обращайтесь. Мы постараемся предоставить консультацию в той мере, в какой владеем информацией по тому или иному вопросу.
